:root{
    --main-color: #FFAAE0;
    --error: #EC4D4D;
    --text: #FFFFFF;
    --fill-display: #F0F0F0;
    --carousel: #CACACA;
    --category-name: #6F6F6F;
}

body{
    margin: 0px;
    background-image: url(./images/bg_rosa.png);
    background-color: var(--main-color);
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
}

input{
    margin: 20px;
    padding: 1.3%;
    border: none;
    border-bottom: 3px solid #404040;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
}

input:focus{
    outline: none;
}

select{
    margin: 15px;
    padding: 1.3%;
    width: 120px;
    height: 70px;
    border: none;
    border-bottom: 3px solid #404040;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
    color: #757575;
}

select:focus{
    outline: none;
}

.hidden{
    display: none;
}

/* Layout */

.logo{
    text-align: center;
}

.card{
    margin: 20px auto;
    padding: 2%;
    width: 65%;
    height: 65%;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}

.card img{
    display: none;
}

#titulo{

    font-size: 2rem;
}

.inputs1, .inputs2, .inputs3, .inputs4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-err{
    border-bottom: 3px solid var(--error) !important;
}

#senhasDif{
    margin-left: 20px;
    color: var(--error);
    font-size: 1rem;
}

button{
    margin: 50px;
    width: 30%;
    height: 10%;
    border: none;
    border-radius: 30px;
    background-color: var(--main-color);
    color: var(--text);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
    cursor: pointer;
}

#spanLogin{
    margin-right: 5px;
    font-size: 1rem;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

/* Responsividade */
@media only screen and (max-width: 670px){
    body{
        background-color: white;
    }

    .logo{
        display: none;
    }

    .card img{
        display: flex;
        margin: 0 auto;
    }
    
    .card{
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    #nome{
        width: 60vw;
    }

}